@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --clr-dark: #0e0e0e;
    --clr-light: #f0f0f0;
    --clr-accent: #dd9000;
    --bg-light: #EEEDE7;
    --clr-green: #90cc36;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--clr-dark);
}

.header {
    background: var(--bg-light);
    display: flex;
    align-items: flex-end;
    padding: 0rem 3rem;
}

.logo-title {
    text-align: center;
}

.logo-title img {
    width: 6rem;
    margin: -10px 0 -20px 0;
}

.logo-title h1 {
    font-size: 2rem;
    margin: 0;
}

.nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: var(--clr-dark);
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.nav ul{
    display: flex;
}

.nav ul li {
    list-style-type: none;
    margin-left: 1rem;
}

.nav ul li a {
    text-decoration: none;
    color: var(--clr-light);
    transition: .3s;
}

.nav ul li a:hover {
    color: var(--clr-green);
}

@media (max-width: 430px) {
    .header {
        background: var(--bg-light);
        display: flex;
        align-items: center;
        padding: 0rem 3rem;
    }

    .nav {
        position: relative;
        justify-content: center;
    }
    
    .nav ul{
        flex-direction: column;
        text-align: center;
    }

    .nav ul li a {
        font-size: 0.8rem;
    }

}

.parallax {
    /* The image used */
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("img/home-bg.jpg");
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .about {
      height: 100vh;
  }