@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --clr-dark: #0e0e0e;
    --clr-light: #f0f0f0;
    --clr-accent: #dd9000;
    --bg-light: #eeede7;
    --clr-green: #90cc36;

    --fs-h1: 2rem;
    --fs-h2: 1.7rem;
    --fs-body: 1rem;
}

@media (max-width: 430px) {
    :root {
        --fs-h1: 1.7rem;
        --fs-h2: 1.4rem;
        --fs-body: 0.8rem;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--clr-dark);
    font-size: var(--fs-body);
}

.header {
    background: var(--bg-light);
    display: flex;
    align-items: flex-end;
    padding: 0rem 3rem;
}

.logo-title {
    text-align: center;
}

.logo-title img {
    width: 6rem;
    margin: -10px 0 -20px 0;
}

.logo-title h1 {
    font-size: var(--fs-h1);
    margin: 0;
}

/* Nav Bar */

.nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: var(--clr-dark);
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.nav ul {
    display: flex;
}

.nav ul li {
    list-style-type: none;
    padding: 0.1rem 0.4rem;
}

.hover {
    text-decoration: none;
    color: var(--clr-light);
    border: 0;
    box-sizing: border-box;
    position: relative;
    vertical-align: middle;
    transition: color 0.25s;
    padding: 0.5rem;
}

.hover::before,
.hover::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    width: 0;
    height: 0;
}

.hover::before {
    top: 0;
    left: 0;
}

.hover::after {
    bottom: 0;
    right: 0;
}

.hover:hover {
    color: var(--clr-green);
}

.hover:hover::before,
.hover:hover::after {
    width: 100%;
    height: 100%;
}

.hover:hover::before {
    border-top-color: var(--clr-green);
    border-right-color: var(--clr-green);
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.hover:hover::after {
    border-bottom-color: var(--clr-green);
    border-left-color: var(--clr-green);
    transition: border-color 0s ease-out 0.5s, 
                width 0.25s ease-out 0.5s,
                height 0.25s ease-out 0.75s;
}

.menu {
    display: none; 
}

.arrow-up {
    margin-left: 0.5rem;
    width: 10px;
    height: 10px;
    border-bottom: 3px var(--clr-light) solid;
    border-left: 3px var(--clr-light) solid;
    border-radius: 20%;
    transform: rotate(135deg);
}

.arrow-down {
    margin-left: 0.5rem;
    width: 10px;
    height: 10px;
    border-bottom: 3px var(--clr-light) solid;
    border-left: 3px var(--clr-light) solid;
    border-radius: 20%;
    transform: rotate(315deg);
}

@media (max-width: 460px) {
    .header {
        background: var(--bg-light);
        display: flex;
        justify-content: center;
        padding: 0rem 3rem;
    }

    .nav {
        position: sticky;
        top: 52px;
        justify-content: center;
    }

    .nav ul {
        flex-direction: column;
        text-align: center;
    }

    .nav ul li {
        padding: 1rem;
    }

    .close {
        display: none;
    }

    .open {
        display: block;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: var(--clr-dark);
        width: 100%;
        color: var(--clr-light);
        padding: 1rem;
        font-family: 'Poppins', sans-serif;
        position: sticky;
        top: 0;
    }

    .menu i {
        margin-left: 0.3rem;
    }
}

.parallax {
    /* The image used */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('img/home-bg.jpg');

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about {
    height: 100vh;
}
